//Button
.menu-btn{
    position: absolute;
    z-index:3;
    right:30px;
    top:30px;
    cursor: pointer;
    @include easeOut;

    .btn-line{
        display: block;
        width:30px;
        height:4px;
        margin : 0 0 5px 0;
        background: white;
        border: none;
        @include easeOut;
    }

    .btn-line:hover{
        background : $secondary-color;
    }

    &.close {
        transform: rotate(180deg);
        .btn-line{
            &:nth-child(1){
                transform: rotate(45deg) translate(5px,5px);
                background:white;
            }

            &:nth-child(2){
                transform: translate(0,-19px);
                background:white;
            }

            &:nth-child(3){
                transform: rotate(-45deg) translate(8px,-7px);
                background:white;
            }
        }
    }
}


// Menu Overlay

.menu {
    position: fixed;
    top:0;
    width:100%;
    visibility: hidden;

    &.show{
        visibility: visible;
    }

    &-nav,&-branding{
        display:flex;
        flex-flow:column wrap;
        align-items: center;
        justify-content: center;
        float:left;
        width:50%;
        height:100vh;
        overflow: hidden;
    }

    &-nav{
        margin : 0;
        padding : 0;
        background: rgba(darken($primary-color, 10), 0.9);
        list-style: none;
        transform: translate3d(100%,-100%,0);
        @include easeOut;

        &.show{
            transform: translate3d(0,0,0);
        }
    }

    &-branding{
        transform: translate3d(-100%,100%,0);
        background: rgba($primary-color, 0.9);
        @include easeOut;

        &.show{
            transform: translate3d(0,0,0);
        }
        
        .logo{
            width:250px;
            height:250px;
            background: url(../images/profile.jpg);
            background-size: 250px 250px;
            border-radius: 50%;
            border : solid 6px $secondary-color;
        }

    }

    .nav-item{
        transform: translate3d(600px,0,0);
        @include easeOut;

        
        &.show{
            transform: translate3d(0,0,0);
        }

        &.current{
            a{
                color:$secondary-color;
            }
        }
    }


    .nav-link{
        display: inline-block;
        position: relative;
        font-size : 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color : white;
        text-decoration: none;
        @include easeOut;


        &:hover{
            color:$secondary-color;
        }
    }
}

//Delay each nav-item slightly
@for $x from 1 through 5 {
    .nav-item:nth-child(#{$x}){
        transition-delay: $x * 0.2s;
    }
}
